
<div class="creature-card-container">
    <nz-card *ngFor="let duende of duendes">
            <ng-template #coverTemplate>
            </ng-template>
        <nz-card [nzCover]="coverTemplate">
            <nz-card-meta
                nzTitle="{{duende.name}}"
                nzDescription="Specie Number: {{duende.id}} | Description: {{duende.description}} | Last See: {{duende.lastSee}} | Count Last See: {{duende.countLastSee}} | Extinct: {{duende.extinct}}">
            </nz-card-meta> 
        </nz-card>
    </nz-card>
    </div>